# CUSTOMER FEEDBACK ANALYSIS BETWEEN PYTHON AND EXCEL

# Importing the Necessary Libraries for Visualization

In [2]:
import pandas as pd
import xlsxwriter as xls
print("Imported Libraries Successfully")

Imported Libraries Successfully

# Load Our Customer Feedback Dataset

In [5]:
customer_data = pd.read_csv("customer_feedback_scores.csv")
customer_data.head(10)

,Date,Customer ID,Region,Product,Support Rating,Product Rating,Comments
0,2024-01-05,CUST001,North,Software A,4,5,Quick resolution
1,2024-01-07,CUST002,South,Software B,3,4,Some bugs found
2,2024-01-09,CUST003,East,Software C,5,5,Very satisfied
3,2024-02-01,CUST004,North,Software A,4,4,Support was helpful
4,2024-02-10,CUST005,South,Software B,2,3,Could be improved
5,2024-02-15,CUST006,East,Software C,5,4,Good experience
6,2024-03-01,CUST007,North,Software A,3,4,Average service
7,2024-03-12,CUST008,South,Software B,4,4,Okay overall
8,2024-03-20,CUST009,East,Software C,5,5,Excellent product
9,2024-04-01,CUST010,North,Software A,4,5,Fast issue resolution

# Checking Our Data if There are Non Values

In [6]:
customer_data.isnull()

,Date,Customer ID,Region,Product,Support Rating,Product Rating,Comments
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False

# Finding the Average Rating of Support Rating and Product Rating

In [36]:
avg_rating = customer_data.groupby("Product") [["Support Rating", "Product Rating"]].mean().reset_index()
avg_rating.head()

      Product  Support Rating  Product Rating
0  Software A             4.0             4.6
1  Software B             3.0             3.6
2  Software C             4.8             4.6

# Create a New Excel Workbook and add a Bar Chart

In [42]:
writer = pd.ExcelWriter("Feedback_Summary_with_Bar_Chart.xlsx", engine="xlsxwriter")

# Commiting the File to Excel

In [43]:
avg_rating.to_excel(writer, sheet_name = "Feedback_Summary_with_Bar_Chart", index = False)

# Adding Bar Chart

In [44]:
workbook = writer.book # Creates the Workbook Object
worksheet = writer.sheets["Feedback_Summary_with_Bar_Chart"] # Creates a Workbook Object

# Create a Bar Chart
chart = workbook.add_chart({"type": "column"})

chart.add_series({
    "name": "Support Rating",
    "categories": ["Feedback_Summary_with_Bar_Chart", 1, 0, len(avg_rating), 0],
    "values": ["Feedback_Summary_with_Bar_Chart", 1, 1, len(avg_rating), 2],
})

chart.add_series({
    "name": "Product Rating",
    "categories": ["Feedback_Summary_with_Bar_Chart", 1, 0, len(avg_rating), 0],
    "values": ["Feedback_Summary_with_Bar_Chart", 1, 2, len(avg_rating), 1],
})

chart.set_title({"name": "Average Cutomer Rating"})
chart.set_x_axis({"name": "Product"})
chart.set_y_axis({"name": "Average Rating"})

worksheet.insert_chart("F3", chart)
writer.close()